@import '_mixins';
@import '_extends';

* {
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  @include flex;
  background: $color-background;
  color: $color-secondary;
  // box-shadow: 0 0 10px black;
  @media screen and (min-width: 800px) {
    width: 800px;
  }
  h2 {
    color: $color-secondary;
    @extend %padding-left;
  }
  nav {
    padding-right: $padding;
    a {
      @extend %font-bold;
      margin-left: 15px;
    }
  }
}

body {
  margin: 0;
  padding: 0;
  background: $color-background;
  font-family: $helvetica;
  @include flex(center);
  a {
    text-decoration: none;
    color: $color-secondary;
    &:hover {
      color: $color-comment;
    }
  }
}
