@import 'vendor/bourbon/bourbon';

@import '_variables';
@import '_colors';
@import '_globals';

main {
  margin-top: 80px;
  background: $color-background;
  width: 100%;
  .entry {
    padding: 0 $padding 8px;
    img {
      margin-top: $padding;
      width: 100%;
    }
  }
}

.detail {
  background: $color-highlight;
  padding: $padding/2 $padding;
  @extend %flex;
  a {
    font-weight: bold;
  }
  .social {
    a {
      margin-right: $padding/2;
      &:nth-last-of-type(1) {  //there might be an easier way to select this
        margin: 0;
      }
    }
  }
}
