@import 'vendor/bourbon/bourbon';

@import '_variables';
@import '_colors';
@import '_globals';
@import '_mixins';
@import '_extends';

main {
  margin-top: $header-height;
  background: $color-background;
  width: 100%;
  @media screen and (min-width: 800px) {
    width: 800px;
  }
  .entry {
    padding: 0 $padding 8px;
    a {
      @extend %font-bold;
    }
    img {
      margin-top: $padding;
      width: 100%;
    }
  }
  .comments {
    h3 {
      @extend %padding-left;
    }
    h4 {
      font-weight: normal;
    }
    section {
      @include flex;
      padding: $padding/2;
      margin: 20px;
      background: $color-comment;
      &:nth-of-type(even) {  //every other comment has the image on the right
        img {
          order: 2;
        }
      }
      img {
        width: 100px;
      }
    }
  }
}

.detail {
  background: $color-highlight;
  padding: $padding/2 $padding;
  @include flex;
  a {
    @extend %font-bold;
  }
  .social {
    a {
      margin-right: $padding/2;
      &:nth-last-of-type(1) {  //there might be an easier way to select this
        margin: 0;
      }
    }
  }
}
